@charset "utf-8";

.designBanner, .anibanner_image_element{width:100% !important;}


.anibanner_navigation_btn_style_4_prev{position:absolute; left:50% !important; margin-left:-498px;}
.anibanner_navigation_btn_style_4_next{ position:absolute; left:50% !important; margin-left:460px;}

ul.anibanner_navigation_paging_style_1 li{ background:#fff !important; border-radius:6px;}
ul.anibanner_navigation_paging_style_1 li.current{ background:#f7941d !important;border-radius:6px;}




/*탭디자인*/
ul.displayTabContainer{ background:url(/data/skin/renewal/images/main/bmn_tab_line.gif) repeat-x 0 bottom; margin-bottom:20px; font-size:16px;}
ul.displayTabContainer{text-align:center;}
ul.displayTabContainer li{ display:inline-block; min-width:80px; padding:10px 0; text-align:center; color:#666; }
ul.displayTabContainer li.current { background:url(/data/skin/renewal/images/main/bmn_tab_on.png) no-repeat 50% bottom;color:#64ad0d; font-size:21px;}
ul.displayTabContainer li:hover{color:#64ad0d;}


 ul.displayTabType1 {background:none;}
 ul.displayTabType1 li{ margin:0; background:url(/data/skin/renewal/images/common/focus_tab_bg.png) no-repeat 0 50%; padding:10px 8px 10px 15px;}
 ul.displayTabType1 li.current{ font-size:16px; font-weight:bold; background:url(/data/skin/renewal/images/main/bmn_tab_on.png) no-repeat 50% bottom, url(/data/skin/renewal/images/common/focus_tab_bg.png) no-repeat 0 50%;}
 ul.displayTabType1 li:first-child{background:none;}
 ul.displayTabType1 li:first-child.current{ background:url(/data/skin/renewal/images/main/bmn_tab_on.png) no-repeat 50% bottom;}
 
 /*상품리스트*/
 .bmn .displayTabContentsContainerBox,
 .focus .displayTabContentsContainerBox{ border:0; padding:0;}
 
 
 
 
 
 

 
 
 